<footer class="p-4 bg-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 mt-auto">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="/" class="hover:underline"
      target="_blank">YelpCamp</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 sm:mt-0 gap-4 md:gap-8">
    <li>
      <a href="#"
        class="text-gray-700 md:hover:text-blue-700 dark:text-gray-400 md:dark:hover:text-white dark:hover:text-white">About</a>
    </li>
    <li>
      <a href="#"
        class="text-gray-700 md:hover:text-blue-700 dark:text-gray-400 md:dark:hover:text-white dark:hover:text-white">Privacy
        Policy</a>
    </li>
    <li>
      <a href="#"
        class="text-gray-700 md:hover:text-blue-700 dark:text-gray-400 md:dark:hover:text-white dark:hover:text-white">Licensing</a>
    </li>
    <li>
      <a href="#"
        class="text-gray-700 md:hover:text-blue-700 dark:text-gray-400 md:dark:hover:text-white dark:hover:text-white">Contact</a>
    </li>
  </ul>
</footer>