<nav class="bg-gray-200 border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-800 home-shadow">
  <div class="container flex flex-wrap items-center mx-auto gap-12">
    <a href="/" class="flex">
      <%- include("../partials/logo") %>
        <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white">YelpCamp</span>
    </a>
    <button id="mobile-menu-btn" data-collapse-toggle="mobile-menu" type="button"
      class="inline-flex items-center p-2 ml-auto text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="mobile-menu-2" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path>
      </svg>
      <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block flex-node md:flex-1" id="mobile-menu">
      <ul class="flex flex-col gap-2 md:gap-8 mt-4 md:flex-row md:mt-0 md:text-sm md:font-medium">
        <li>
          <a href="/" class="block py-2 pr-4 pl-3 text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
        </li>
        <li>
          <a href="/campgrounds"
            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:text-white dark:border-gray-700">Campgrounds</a>
        </li>
        <li>
          <a href="/campgrounds/new"
            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:text-white dark:border-gray-700">New
            Campgrounds</a>
        </li>
        <% if (!currentUser) { %>
          <li class="ml-0 md:ml-auto">
            <a href="/register"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:text-white dark:border-gray-700">Register</a>
          </li>
          <li>
            <a href="/login"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:text-white dark:border-gray-700">Login</a>
          </li>
          <% } else { %>
            <li class="ml-0 md:ml-auto">
              <a href="/logout"
                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:text-white dark:border-gray-700">Logout</a>
            </li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>