@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1503265192943-9d7eea6fc77a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  background-size: cover;
  background-position: center;
}

.home-shadow {
  text-shadow: 0.1rem 0.2rem 10px rgb(0 0 0 / 50%);
}

.home-blur {
  backdrop-filter: blur(3px);
}
