<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= docTitle %>
  </title>
  <link rel="stylesheet" href="/css/app.css">
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body class="flex flex-col h-screen home-bg home-shadow">
  <%- include("../partials/navbar_home") %>
    <%- include("../partials/flash") %>
      <main class="container mx-auto h-full flex justify-center items-center">
        <section class="p-4 flex flex-col items-center gap-4 glass home-blur max-w-2xl rounded-2xl">
          <h1 class="text-5xl font-bold text-white">YelpCamp</h1>
          <p class="text-white">Welcome to YelpCamp</p>
          <p class="text-center max-w-2/3 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere eum
            exercitationem
            nesciunt est nam harum
            vero distinctio, asperiores, quasi cum, doloribus repellendus minima ratione sequi libero sunt
            necessitatibus
            eius deleniti!</p>
          <a href="/campgrounds"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 focus:ring-4 focus:ring-pink-200 dark:focus:ring-pink-800">
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-800 rounded-md group-hover:bg-opacity-0">
              To campgrounds
            </span>
          </a>

        </section>
      </main>
      <script src="/js/flowbite.js"></script>
</body>

</html>